<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container my-3">
    <div>
        <h1 class="text-center">SBB 시작 페이지</h1>
        <div class="text-center">
            <img th:src="@{/images/background.jpg}"
                 alt="배경 이미지"
                 class="img=fluid"
                 style="height: 500px; width: auto;"
            >
        </div>
    </div>

</div>
</html>